// common
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
button {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    padding: 4px 12px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.3s;
    &:hover {
        background: #000;
        color: #fff;
    }
}

input[type="text"] {
    font-family: "Noto Sans KR", serif;
    border: 1px solid #999;
    width: 160px;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
}

// content
#root {
    > div {
        width: 500px;
        margin: 50px auto;
        padding: 25px 30px 40px 30px;
        border: 1px solid #333;
        border-radius: 15px 15px 0 0;
        
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #000;
            padding-bottom: 20px;
            h1 {
                font-family: "Montserrat", sans-serif;      
            }
            .btn-mode {
                background: #fff;
                border: 1px solid #000;
                border-radius: 30px;
                padding: 0px 2px;
                height: 25px;
                font-size: 0;
                width: 55px;
                position: relative;
                cursor: pointer;
                &::after {
                    content: '';
                    width: 17px;
                    height: 17px;
                    border-radius: 100%;
                    position: absolute;
                    background: #000;
                    top: 0;
                    bottom: 0;
                    right: 5px;
                    margin: auto;
                    transition: .5s;
                }
                &.clicked {
                    &::after {
                        right: calc(55px - 17px - 5px);
                    }
                }
            }
        }
        .list {
            margin-bottom: 20px;
            > div {
                padding: 5px 0;

                $inputWidth: 15px;
                input[type="checkbox"] {
                    display: none;
                    margin-right: 5px; 
                    
                   + label {
                        display: inline-block;
                        width: 85%;
                        position: relative;
                        padding-left: 25px;
                        cursor: pointer;
                        &::before, &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            border-radius: 100%;
                        }
                        &::before {
                            width: $inputWidth;
                            height: $inputWidth;
                            border: 1px solid #000;
                            left: 0;
                            
                        }
                   }
                   &:checked {
                        + label {
                            &::after {
                                width: 9px;
                                height: 9px;
                                background: #000;
                                left: 4px;
                            }
                        }
                   }
                }
                
            }
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            >div {
                display: flex;
                &:last-of-type {
                    justify-content: flex-end;
                }
            }
            button {
                height: 100%;
                border-radius: 0 5px 5px 0;
                background: #999;
                color: #fff;
            }
        }
        // 다크모드
        &.dark {
            .top {
                border-bottom-color: #fff;
            }
            .list {
                > div {
                    input[type="checkbox"] {
                        + label {
                            &::before {
                                border-color: #fff;
                            }
                            
                        }
                        &:checked {
                            + label {
                                &::after {
                                    background: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}